# Ambiente virtual
venv/
venv-dev/

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Configs de IDEs
.vscode/
.idea/

# Arquivos sensíveis
.env

# Logs
*.log

# Arquivos temporários
*.swp
.DS_Store


# Cache de ferramentas de lint/format
.cache/
.mypy_cache/
.pytest_cache/
.dmypy.json


# Notebooks para desenvolvimento
notebooks/

# Dados usados pela API
data/
